# Secrets
.env
.env.*
alembic.ini

# Python
__pycache__/
*.pyc
.venv/
*.egg-info/

# Node
node_modules/
.next/

# Misc
*.log
.DS_Store
DOCS
Images
Aarogyam.pdf
Aarogyam.pptx
Clinical_AI_Architectural_Blueprint.pdf
estimatedost.png
usecasediagram.png